# Compiled output
out/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/httpRequests
.idea/dataSources/
.idea/dynamic.xml
*.iws

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
